[defaults]
inventory = inventory/hosts.yml
library = plugins/modules
module_utils = plugins/module_utils
collections_path = ./collections
stdout_callback = default
callback_result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = false
